<!DOCTYPE html>
<html>
<head>
  <title>Dashboard - Fello.in</title>

  <meta charset="utf-8">
  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- CDN -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
  <!--DASHBOARD STYLES-->
  <link rel="stylesheet" href="/styles/common.css">
  <link rel="stylesheet" href="/styles/extra/animate.css">
  <link rel="stylesheet" href="/css/dashboard/dashboard.css">
  <link rel="stylesheet" href="/css/dashboard/sticky.css">
  <link rel="stylesheet" href="/css/dashboard/chatbox.css">
  <link rel="stylesheet" href="/css/dashboard/custom.css">
  <!--DASHBOARD STYLES END-->
  <!-- This is needed because Facebook login redirects add #_=_ at the end of the URL-->
  <script type="text/javascript">
    if (window.location.href.indexOf('#_=_') > 0) {
      window.location = window.location.href.replace(/#.*/, '');
    }
  </script>
  <base href="/dashboard/">
</head>

<body class="mini-navbar">
<%- body %>
<!--<script src="/vendor/requirejs/require.js" data-main="/js/dashboard/main"></script>-->

</body>
</html>
