<div class="screen-element chat-wrapper" ng-class="{'chat-active': chatActive, 'chat-alert': numberOfUnreadMessages > 0 && !chatActive, 'dragging': dragging}" ng-style="chatWrapperStyle">
  <div ng-click="focusChatInputField()" class="chat">
    <div class="chat-inner-wrapper">
      <div ng-show="isAdjustable && chatActive" resize="adjustChatHeight" class="resize" ng-dblclick="handleChatToggleButtonClick()">
        <div class="drag-bars"></div>
      </div>

      <div id="chat-messages" class="messages" ng-class="{ opened: chatActive, closed: !chatActive }">
        <div ng-repeat="entry in messages track by $index">
          <div ng-switch="entry.type">
            <div ng-switch-when="historyMarker" class="message history-marker">
              <p class="body">
                <strong>Note:</strong>
                            <span ng-if="entry.historyLength > 0" ng-i18next>
                                The {{::entry.historyLength }} message(s) shown above were written before you entered the room.
                            </span>
                            <span ng-i18next>
                                Chat messages will be saved by appear.in until everyone has left the room.
                            </span>
                <a ng-click="clearChatHistory()" ng-show="messages.length > 1" ng-i18next>
                  Clear chat history
                </a>
              </p>
            </div>
            <article ng-switch-when="message" class="message">
              <img class="profile" style="background-color: {{::entry.color}}; border: 3px solid {{::entry.color}};" ng-src="{{ ::entry.avatar || '/images/empty-avatar.png' }}" />
              <p class="user-select-enabled body" bind-html-compile="::entry.text | linky:'_blank' | mediaShareFilter"></p>
              <div class="timestamp">{{::entry.timestamp | timestamp }}</div>
            </article>
          </div>
        </div>
      </div>
      <div class="new-messages-notification" ng-click="scrollToBottom()" ng-class="{'visible': hasUnreadMessages}">
        <p ng-i18next>Unread messages below</p>
      </div>
      <form ng-submit="sendMessage()" class="message-input-wrapper">
        <label for="chat-message-box-input" ng-click="handleChatInputClick()">
          <div class="message-counter" ng-class="{'new-messages': numberOfUnreadMessages > 0}" for="chat-message-box-input">
            <figure class="chaticon">
              <svg enable-background="new 0 0 512 512" height="512px" id="Layer_1" version="1.2" viewBox="0 0 512 512" width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path class="outline" d="M304,0h-96C93.125,0,0,93.125,0,208c0,74.438,39.405,139.25,98.188,176H96v128l144-96h64c114.875,0,208-93.125,208-208  S418.875,0,304,0z M304,352h-64l-80,48v-56.812C104.188,323.344,64,270.594,64,208c0-79.531,64.469-144,144-144h96  c79.53,0,144,64.469,144,144S383.531,352,304,352z"/>
                        </svg>
              <p class="unread-count">
                {{ numberOfUnreadMessages }}
              </p>
            </figure>
          </div>
        </label>
        <label for="chat-message-box-input">
          <div class="message-input">
            <input id="chatInputField" ng-show="isConnected()" type="text" id="chat-message-box-input" ng-model="message" ng-i18next="[placeholder]Write something nice!" ng-click="handleChatInputClick()" ng-keydown="handleKeydownEvent($event)">
            <div ng-show="!isConnected()" class="fake-input" ng-i18next>Chat temporarily unavailable, please wait...</div>
          </div>
        </label>
        <p ng-show="room.hasChatOnlyClients()" class="client-count">
          {{ room.clients.length }} <i class="fa fa-users"></i>
        </p>
        <div ng-if="isAdjustable" class="toggle-button fa fa-chevron-up toggle-button" ng-class="{'reversed': chatActive}" ng-click="handleChatToggleButtonClick()"></div>
      </form>
    </div>
    <audio class="ng-hide" id="chat-message-notification" ng-src="https://d1x2efl61akomv.cloudfront.net/assets/chat-notification.ogg" type="audio/ogg" preload></audio>
  </div>
</div>


