<div class="row animated fadeInRight">
  <div class="col-xs-offset-1 col-xs-5">

    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-headphones"></i> Your Preview</h5>

        <div class="ibox-tools hidden-xs">
          <span class="label label-primary-light">10:13m</span>
        </div>
      </div>
      <div class="ibox-content">
        <div>
          <video id="self" width="300" height="200" muted="muted"></video>
        </div>
      </div>
    </div>

  </div>
  <div class="col-xs-5">
    <div class="ibox float-e-margins">

      <div class="ibox-title">
        <h5><i class="fa fa-headphones"></i> Supporter</h5>
      </div>
      <div class="ibox-content">

        <div>
          <!--initializing...-->
          <p ng-show="!ismeeting">Calling an agent ...</p>
          <p ng-show="isDenied"><button ng-click="recall(me.easyRtcId)">{{me.easyRtcId}}</button> </p>
          <video id="caller" width="300" height="200"></video>
          <div id="otherClients">

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
