<section id="header">
  <!-- Nav Start -->
  <div class="menu">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">fello.in</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="/">Features</a></li>
            <li><a href="#pricing.html">Pricing</a></li>
            <li><a href="#ourstory.html">Our Story</a></li>
            <li><a href="#suport.html">Support</a></li>
            <li><a href="#signup.html">Get started</a></li>
            <li><a href="#login.html">Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- Nav End -->
</section>


<!-- Start Billboard Section-->
<section id="billboard" class="bill-board">
  <div class="container">
    <div class="row">
      <div class="col-sm-7 main-text">
        <h1 class="wow fadeInDown">Chat Face to Face with Customers</h1>
        <h4 class="wow fadeInDown" data-wow-delay="0.2s">Live Video chat solution for business websites</h4>
        <div class="home-buttons">
          <a href="#" class="btn btn-trial-green wow fadeInDown" data-wow-delay="0.4s">Start Free <i class="fa fa-long-arrow-right"></i></a>
          <span class="sub-btn">
            <a href="#" class="btn btn-what-is-fello wow fadeInDown" data-wow-delay="0.3s">What is fello ?</a>
          </span>
        </div>
      </div>
      <div class="col-sm-5 main-video">
        <img src="/images/backgrounds/bg.png" width="100%">
      </div>
    </div>
  </div>
</section>
<!-- End  billboard Section-->


<!-- Start Services Section -->
<section id="services" class="services">
  <div class="container">
    <div class="row">
      <div class="header-title text-center">
        <h2 class="section-title wow fadeInDown">All it takes is 5 Minutes</h2>
        <p class="section-subtitle wow fadeInDown" data-wow-delay="0.2s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p>
      </div>
      <div class="col-sm-4 col-md-4">
        <article class="text-center  wow fadeInLeft" data-wow-delay="0.1s">
          <i class="fa fa-cogs"></i>
          <h3>1. Sign Up for Free Trial</h3>
          <p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>
        </article>
      </div>
      <div class="col-sm-4 col-md-4">
        <article class="text-center  wow fadeInLeft" data-wow-delay="0.1s">
          <i class="fa fa-leaf"></i>
          <h3>2. Embed Code to your Website</h3>
          <p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>
        </article>
      </div>
      <div class="col-sm-4 col-md-4">
        <article class="text-center  wow fadeInLeft" data-wow-delay="0.1s">
          <i class="fa fa-android"></i>
          <h3>3. Go live with customer</h3>
          <p>Excepteur sint occaecat cupi datat non it proident, sunt in culpa qui officia dese runtorn mollit anim id est laborum.</p>
        </article>
      </div>
    </div>
    <hr>
  </div>
</section>
<!-- End Services Section -->

<!-- Start story Section -->
<section id="story" class="story">
  <div class="container">
    <div class="row">
      <div class="header-title text-center">
        <h2 class="section-title wow fadeInDown">A brief about us, Our Story</h2>
        <p class="section-subtitle wow fadeInDown" data-wow-delay="0.2s">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia <br> deserunt mollit anim id est laborum.</p>
      </div>
      <div class="text-center  wow bounceIn animated">
        <a href=""> <img src="images/backgrounds/video.jpg"></a>
      </div>
    </div>
  </div>
</section>
<!-- End story Section -->

<!-- Start Subscription Section -->
<section id="subscription" class="subscription text-center">
  <div class="container">
    <div class="row">
      <div class="sub-title">
        <h2 class="section-title wow fadeInDown">Join Our Subscribers</h2>
        <p class="section-subtitle wow fadeInDown" data-wow-delay="0.2s">10,000 sint occaecat cupidatat non proident sunt in culpa qui officia.</p>
      </div>
      <div class="sub-btn">
        <a href="#" class="btn btn-defult wow fadeInDown" data-wow-delay="0.3s">Click Here To Subscribe</a>
      </div>
    </div>
  </div>
</section>
<!-- End Subscription Section -->

<!-- Start contact Section -->
<div id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="social text-center">
        <ul>
          <li class="facebook wow bounce" data-wow-delay="0.1s"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="twitter wow bounce" data-wow-delay="0.3s"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="dribbble wow bounce" data-wow-delay="0.5s"><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li class="google wow bounce" data-wow-delay="0.7s"><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- End contact Section -->

<!-- End contact Section -->

<footer id="footer" class="footer">
  <div class="container">
    <div class="row wow fadeInDown">
      <div class="col-sm-6 col-md-3">
        <div class="footer-widget">
          <h4 class="widget-title">Location</h4>
          <p>24 Hoang Quoc Viet <br> Hanoi, Vietnam <br> <span>(+84) 748-2411</span></p>
          <a href="#">See it in the map <i class="fa fa-long-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="widget-title">Company</h4>
        <ul class="list">
          <li><a href="#">Our story</a></li>
          <li><a href="#">Mission</a></li>
          <li><a href="#">Journal</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="widget-title">Support</h4>
        <ul class="list">
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Policies</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <h4 class="widget-title">Fello.in</h4>
        <div class="footer-widget">
          <p>Do Business Face to Face with Every Client</p>
          <p>Experience the simplicity of Fello Live Video. Chat in your browser, in your website.</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- jQuery Load -->
<script src="/vendor/jquery/jquery.js"></script>

<!-- Bootstrap JS -->
<script src="/vendor/bootstrap/bootstrap.js"></script>

<!--WOW Scroll Spy-->
<script src="/js/utils/wow.js"></script>

<!-- Main -->
<script src="/js/utils/init.js"></script>
