//-
   Created by Vunb on 15/1/2015.

h1 Hello from Homepage.jade
span it's realy cool !

// STYLES
link(rel="stylesheet", href="/vendor/bootstrap/bootstrap.css")
link(rel="stylesheet", href="/styles/importer.css")
// STYLES END
// SCRIPTS
script(src="/vendor/angular/angular.js")
script(src="/vendor/bootstrap/bootstrap.js")
script(src="/vendor/jquery/jquery.js")
script(src="/vendor/requirejs/require.js")
script(src="/js/dependencies/sails.io.js")
// SCRIPTS END
