//-
   Created by Vunb on 15/1/2015.

html(lang="en" ng-app)
  head
    title fello.in
    link(rel="stylesheet" href="/vendor/bootstrap/bootstrap.css")
    link(rel="stylesheet" href="/styles/importer.css")
  body
    h1 Hello from jade
