<div id="container" ng-app="fello.clientroom">

  <div class="wrapper wrapper-content">

    <div ui-view></div>

  </div>


  <div class="wrapper wrapper-chatbox" style="display:none;">
    <div>
      <div class="chat-activity-list">

        <div class="chat-element">
          <a href="#" class="pull-left">
            <img alt="image" class="img-circle" src="/img/a2.jpg">
          </a>

          <div class="media-body ">
            <small class="pull-right text-navy">1m ago</small>
            <strong>Mike Smith</strong>

            <p class="m-b-xs">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
          </div>
        </div>

        <div class="chat-element right">
          <a href="#" class="pull-right">
            <img alt="image" class="img-circle" src="/img/a4.jpg">
          </a>

          <div class="media-body text-right ">
            <small class="pull-left">5m ago</small>
            <strong>John Smith</strong>

            <p class="m-b-xs">
              Lorem Ipsum is simply dummy text of the printing.
            </p>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
          </div>
        </div>

        <div class="chat-element ">
          <a href="#" class="pull-left">
            <img alt="image" class="img-circle" src="/img/a2.jpg">
          </a>

          <div class="media-body ">
            <small class="pull-right">2h ago</small>
            <strong>Mike Smith</strong>

            <p class="m-b-xs">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            </p>
            <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-form">
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" placeholder="Message" ng-model="message"></textarea>
        </div>
        <div class="text-right">
          <button type="submit" class="btn btn-sm btn-primary m-t-n-xs" ng-submit="chat()" ng-enabled="message && message.length > 0"><strong>Send message</strong></button>
        </div>
      </form>
    </div>
  </div>

</div>

<script type="text/javascript" src="/easyrtc/easyrtc.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<!-- Include YT library and this directive -->
<!--<script src="https://www.youtube.com/iframe_api"></script>-->
<!--<script src="angular-youtube-embed.js"></script>-->

<!--CLIENTROOM SCRIPTS-->
<script src="/vendor/jquery/jquery.js"></script>
<script src="/vendor/lodash/lodash.js"></script>
<script src="/vendor/bootstrap/bootstrap.js"></script>
<script src="/vendor/momentjs/moment.js"></script>
<script src="/vendor/humanize-duration/humanize-duration.js"></script>
<script src="/vendor/angular/angular.js"></script>
<script src="/vendor/angular-ui-router/angular-ui-router.js"></script>
<script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
<script src="/vendor/angular-cookies/angular-cookies.js"></script>
<script src="/vendor/angular-bind-html-compile/angular-bind-html-compile.js"></script>
<script src="/vendor/angular-timer/angular-timer.js"></script>
<script src="/vendor/i18next/i18next.js"></script>
<script src="/vendor/ng-i18next/ng-i18next.js"></script>
<script src="/js/common/app.js"></script>
<script src="/js/common/services/rtcapi.js"></script>
<script src="/js/common/services/lodash.js"></script>
<script src="/js/common/services/guid.js"></script>
<script src="/js/common/services/utils.js"></script>
<script src="/js/common/services/memo.js"></script>
<script src="/js/common/services/fluidGrid.js"></script>
<script src="/js/common/services/soundEffectManager.js"></script>
<script src="/js/common/services/sounds.js"></script>
<script src="/js/common/services/serverSocket.js"></script>
<script src="/js/common/services/serverSocketConfig.js"></script>
<script src="/js/common/values/protocol.js"></script>
<script src="/js/common/values/State.js"></script>
<script src="/js/clientroom/app.js"></script>
<script src="/js/clientroom/services/EventService.js"></script>
<script src="/js/clientroom/services/SnapshooterService.js"></script>
<script src="/js/clientroom/services/AvatarProvider.js"></script>
<script src="/js/clientroom/services/RoomState.js"></script>
<script src="/js/clientroom/services/ChatService.js"></script>
<script src="/js/clientroom/directives/ChatDirective.js"></script>
<script src="/js/clientroom/controllers/LiveController.js"></script>
<!--CLIENTROOM SCRIPTS END-->
