<div class="popup-box chat-popup" id="{{::client.callId}}" ng-init="toggleDisplay = true">
  <div class="popup-head" ng-click="toggleDisplay = !toggleDisplay">
    <div class="popup-head-left">{{::client.name}}</div>
    <div class="popup-head-right"><a ng-click="close(client.callId)">✕</a></div>
    <div style="clear: both"></div>
  </div>
  <div class="popup-box-content" ng-class="{displayBlock: toggleDisplay}">
    <div class="popup-messages">
      <ol class="discussion">
        <li ng-repeat="message in (client && client.messages)"
            ng-class="message.fromClientId == me.easyrtcid ? 'self' : 'other'">
          <div class="avatar">
            <img ng-if="message.fromClientId == me.easyrtcid"
                 src="/icon/icon2.png"/>
            <img ng-if="message.fromClientId != me.easyrtcid"
                 src="/icon/icon3.png"/>
          </div>
          <div class="messages">
            <p>{{::message.message}}</p>
            <time datetime="2009-11-13T20:00">{{::client.name}}.{{::message.timeReceived}}</time>
          </div>
        </li>
      </ol>
    </div>
    <form ng-submit="sendMessage()" class="message-input-wrapper">

      <div class="has-success has-feedback">

        <div class="input-group">
          <span class="input-group-addon unread-count">{{ numberOfUnreadMessages || '@' }}</span>
          <input id="chat-message-box-input" class="form-control" type="text" ng-model="client.message"
                 ng-i18next="[placeholder]Write something nice!" placeholder="Write something nice!">

          <!--<div ng-show="!isConnected()" class="form-control fake-input" ng-i18next>Chat temporarily unavailable, please-->
            <!--wait...-->
          <!--</div>-->
        </div>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
      </div>

    </form>
  </div>
</div>
