<div class="row">
  <div class="col-lg-3 col-xs-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-headphones"></i> Preview</h5>
      </div>
      <div class="ibox-content">

        <div>
          <video id="self" width="300" height="200" muted="muted"></video>
        </div>

      </div>
    </div>

  </div>
  <div class="col-lg-5 col-xs-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5><i class="fa fa-headphones"></i> Client</h5>
        <div class="ibox-tools hidden-xs">
          <span class="label label-primary-light">10:13m</span>
        </div>
      </div>
      <div class="ibox-content">

        <div>
          <p ng-show="!ismeeting">Connecting video call to your client  ...</p>
          <video id="caller" width="300" height="200"></video>
          <div id="otherClients">

          </div>
        </div>

      </div>
    </div>

  </div>
  <div class="col-lg-4">
    <div class="ibox float-e-margins no-drop">
      <div class="ibox-title">
        <h5><i class="fa fa-slideshare"></i> Waiting Room</h5>
        <div class="ibox-tools">
          <span class="label label-warning-light">10 Waiting </span>
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content ibox-heading">
        <h3>You have new chat today!</h3>
        <small><i class="fa fa-map-marker"></i> My easyrtcid: {{me.easyRtcId}}</small>
      </div>
      <div class="ibox-content inspinia-timeline">

          <div class="feed-activity-list">

            <div class="feed-element" ng-repeat="(id, client) in waitingClients">
              <a href="profile.html" class="pull-left">
                <img alt="image" class="img-circle" src="/img/profile.jpg">
              </a>
              <div class="media-body ">
                <small class="pull-right">2m ago</small>
                <strong>{{client.name}}</strong> joined.<br>
                <small class="text-muted">Email: {{client.email}}</small>
                <div class="actions">
                  <a class="btn btn-xs btn-success" ng-click="accept(client.callId)"><i class="fa fa-phone accept"></i> Accept </a>
                  <a class="btn btn-xs btn-primary" ng-click="chat(client.callId)"><i class="fa fa-wechat chat"></i> Chat</a>
                  <a class="btn btn-xs btn-danger" ng-click="deny(client.callId)"><i class="fa fa-minus-circle deny"></i> Deny</a>
                </div>
                <div class="well" ng-show="client.messages && client.messages.length > 0">
                  <span ng-repeat="message in (client && client.messages)">
                    {{message.message}}<br/>
                  </span>
                </div>

              </div>
            </div>

            <!--<div class="feed-element">-->
              <!--<a href="profile.html" class="pull-left">-->
                <!--<img alt="image" class="img-circle" src="/img/profile.jpg">-->
              <!--</a>-->
              <!--<div class="media-body ">-->
                <!--<small class="pull-right">2m ago</small>-->
                <!--<strong>Monica Smith</strong> joined.<br>-->
                <!--<small class="text-muted">Today 5:60 pm - 12.06.2014</small>-->
                <!--<div class="actions">-->
                  <!--<a class="btn btn-xs btn-success"><i class="fa fa-phone accept"></i> Accept </a>-->
                  <!--<a class="btn btn-xs btn-primary"><i class="fa fa-wechat chat"></i> Chat</a>-->
                  <!--<a class="btn btn-xs btn-danger"><i class="fa fa-minus-circle deny"></i> Deny</a>-->
                <!--</div>-->
                <!--<div class="well">-->
                  <!--Hello bussiness ! <br/> Could i ask you a question ? <br/>-->
                  <!--About the camera i wanted to buy.-->
                <!--</div>-->

              <!--</div>-->
            <!--</div>-->

            <!--<div class="feed-element">-->
              <!--<a href="profile.html" class="pull-left">-->
                <!--<img alt="image" class="img-circle" src="/img/a2.jpg">-->
              <!--</a>-->
              <!--<div class="media-body ">-->
                <!--<small class="pull-right">5m ago</small>-->
                <!--<strong>Mark Johnson</strong> joined. <br>-->
                <!--<small class="text-muted">Today 2:10 pm - 12.06.2014</small>-->
                <!--<div class="actions">-->
                  <!--<a class="btn btn-xs btn-success"><i class="fa fa-phone accept"></i> Accept </a>-->
                  <!--<a class="btn btn-xs btn-primary"><i class="fa fa-wechat chat"></i> Chat</a>-->
                  <!--<a class="btn btn-xs btn-danger"><i class="fa fa-minus-circle deny"></i> Deny</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="feed-element">-->
              <!--<a href="profile.html" class="pull-left">-->
                <!--<img alt="image" class="img-circle" src="/img/a3.jpg">-->
              <!--</a>-->
              <!--<div class="media-body ">-->
                <!--<small class="pull-right">10m ago</small>-->
                <!--<strong>Janet Rosowski</strong> joined. <br>-->
                <!--<small class="text-muted">2 days ago at 8:30am</small>-->
                <!--<div class="actions">-->
                  <!--<a class="btn btn-xs btn-success"><i class="fa fa-phone accept"></i> Accept </a>-->
                  <!--<a class="btn btn-xs btn-primary"><i class="fa fa-wechat chat"></i> Chat</a>-->
                  <!--<a class="btn btn-xs btn-danger"><i class="fa fa-minus-circle deny"></i> Deny</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          </div>

        <button class="btn btn-white btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>

      </div>
    </div>
  </div>

</div>
